header {
font-size:100px;
color:#0099FF;
font-family:CHEESEBU;
animation: slideleft 2s ease-in;
}

@keyframes slideleft{ 
	 0% { transform: translateX(-200%); }
	 -100% { transform: translateX(0%); }
	}
@font-face{
font-family:jabjai_heavy;
src: url("fonts/jabjai_heavy.TTF");
}
@font-face{
font-family:CHEESEBU;
src: url("fonts/CHEESEBU.TTF");
}
.menu  {
top:20%;
position:absolute;
text-align:center;
background-color:black;
height:90px;
width:100%;
}


a{
font-size:70px;
 font-family: CHEESEBU;
    src: url("fonts/CHEESEBU.TTF");
color: #00F2FF; 
text-decoration: none;
}



#alphabet {
	left:700px;
	font-size:50px;
	 font-family: CHEESEBU;
	src: url("fonts/CHEESEBU.TTF");
	color: orange; 
	text-decoration: none;
}
img,.b{
	vertical-align: middle;
	horizontal-align: middle;
	max-width:300px;
	max-height:300px;
}

.cell{

	display:inline-block;
	font-family: jabjai_heavy;
	src: url("fonts/jabjai_heavy.otf");
	left:60px;
	color:#F2FF00;
	text-align:center;
	font-size:60px;
	width: 130px;
	height:130px;  
	object-fit:contain;
	position: relative;
}